header a:link{
  text-decoration: none;
}

header{
	width:910px;
	margin:auto;
	margin-bottom:10px;
	border: solid;
	text-align:center;
	background-color:#a2c0ff;
	
}
header p{
	font-size:4em;
	text-align:center;
	padding:0px;
	margin:0px;
}
body{
	background-color:#003380;
}
#main_wrapper{
	display: flex;
	justify-content :center;
}
aside{
	width: 150px;
	padding:10px;
	border:solid grey;
	background-color:#b3d1ff;s
}
main{
	width:700px;
	padding:10px;
	border:solid lightgrey;
	margin-left:10px;
	background-color:#cce0ff
	
}

input[type=number]{
	width:50px;
}

.space_around {
  display: flex;
justify-content:space-around;
}

.center_text{
	text-align:center;
}
.thinborder{
	border: solid lightgrey 1px;
	margin-right:5px;
	padding:0px 10px;
}
.more_room{
	padding:0px 50px;
}
button{
	padding:10px;
	color:white;
	background-color:#003380;
}